.bola {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #FFF;
  line-height: 30px;
  margin: 0 10px 10px 0;
}

.azulEscuro {
  background-color: #313051;
}

.azulClaro {
  background-color: #35CAD0;
}