.HeaderLogo {
    background-color: #0E0D30;
    max-width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 32px;

}

.logo {
    display: flex;
    flex-direction: row;
    font: normal 400 24px/28px 'Roboto';
    text-transform: uppercase;
    font-size: 24px;
    color: #fff;

}

.green {
    color: #17E72C;
}

.botoes {
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.dadosUser {
    display: flex;
    flex-direction: column;
    align-items: first baseline;
    color: #fff;
}

.user {
    width: 280px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-height: 50px;
}

.perfil {
    border-radius: 50%;
    width: 50px;
}

.userId .saldoId {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.button {
    background-color: #2c3ccb;
    color: white;
    width: 205px;
    height: 47px;
    border-radius: 15px;
    padding: 2px;
    border: none;
}

.spanButton {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font: 'Roboto' 700 normal 18px;
    line-height: 21px;
    text-transform: uppercase;
}